body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    background-image: url('../img/container_bg.png'); /* Ruta de la imagen */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        min-height: 100vh; /* Asegura que el main tenga al menos el alto de la pantalla */
}

/*** PAGINA QUIENES SOMOS ***/
.bannerPokemon{
    object-fit: cover;
    width: 250px;
}

.imgCardIntegrantes{
    object-fit: contain;
    height: 350px;
}


/* ************** */
/* MEDIAS QUERIES */
/* ************** */

/* dispositivos medianos */
@media (min-width: 768px) and (max-width: 991px) {
    .bannerPokemon{
        width: 550px;
    }    
}

/* dispositivos grandes */
@media (min-width: 992px) {
    .bannerPokemon{
        width: 800px;
    }  
}
