@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.navbar{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    background-color: rgb(230, 27, 27) !important;

    a{
        color: white;
    }
}

footer{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    background: rgb(212, 9, 2);
    color: white;
}