@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.navbar{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    background-color: rgb(230, 27, 27) !important;

    a{
        color: white;
    }
}

footer{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    background: rgb(212, 9, 2);
    color: white;
}

.img-banner-pokemon{
    height: 300px;
    object-fit: cover;
}

.fuente-pokedex-card{
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
}

.badge-veneno{
    background: rgb(103, 8, 116);
}

.badge-fuego{
    background: orange;
}

.badge-agua{
    background: rgb(36, 167, 211);
}

@media (min-width: 320px) and (max-width: 425px){
    .img-banner-pokemon{
        height: 120px;
        
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .img-banner-pokemon{
        height: 200px;
        
    }
}

@media (min-width: 1440px) and (max-width: 2559px){
    .img-banner-pokemon{
        height: 400px;
    }
}
@media (min-width: 2560px){
    .img-banner-pokemon{
        height: 550px;
    }
}